div.home {
    margin: auto;
    width: max-content;
    margin-top: 20px;
}

tr.sudoku {
    border: 1px solid black;
}

td.sudoku {
    height: 100px;
    font-size: 45px;
    cursor: pointer;
    width: 90vw;
}

@media screen and (min-width: 500px) {
    td.sudoku {
        width: 450px;
    }
}

img.delete {
    float: right;
    position: relative;
    top: 5px;
}

div.actions {
    float: right;
}

span.easy {
    float: left;
}

span.medium {
    position: relative;
    left: 10%;
}

span.hard {
    float: right;
}